ENVIRONMENT=development
APP_PORT=8100

# DATABASE CONFIGURATION
DB_HOST=localhost
DB_PORT=5432
DB_USER=rizki
DB_PASSWORD=1
DB_NAME=portofolio
DB_SSLMODE=disable
DB_MAX_OPEN_CONNS=20
DB_MAX_IDLE_CONNS=10

JWT_SECRET=apapun_itu_aku_terus_berusaha

DB_TIMEZONE=Asia/Jakarta